@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/* screen */
@import "screen/login.css";
@import "screen/friends.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
}
.position-box {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}
.screen-main__blank {
  height: 100px;
  width: 100px;
}
