#chat-screen .position-box,
#chat-screen {
  background-color: #abc1d1;
}
#chat-screen {
  height: 1000vh;
}
.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 8px;
  border-radius: 215px;
  font-size: 14px;
}
.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
