.egg-screen {
  height: 70vh;
}
.egg-span {
  margin-bottom: 50px;
}
.egg-a {
  font-size: 70px;
}
.egg-bg-img {
  position: absolute;
  z-index: -1;
  opacity: 0.3;
  width: 100vw;
  height: 100vh;
}
.egg-img1 {
  opacity: 0.8;
  width: 400px;
  position: absolute;
  left: 30px;
  bottom: 60px;
  transform: rotatez(5deg);
}
.egg-img2 {
  opacity: 0.8;
  width: 170px;
  position: absolute;
  right: 80px;
  bottom: 90px;
  transform: rotatez(-2deg);
}
.egg-tomato-span {
  position: absolute;
  right: 90px;
  top: 30px;
  font-size: 25px;
  font-weight: 600;
  color: tomato;
  transform: rotateZ(-20deg);
}
