.find-icons {
  display: flex;
  justify-content: space-between;
  margin: 0px 3px;
}
.find-icons__box {
  text-align: center;
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find-icons__box i {
  font-size: 35px;
}
.find-icons__box span {
  margin-top: 18px;
}
.recommended-friends {
  padding: 25px 0 0 0;
  margin: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
@media screen and (max-width: 588px) {
  .recommended-friends {
    padding: 19px 0 0 0;
    margin: 19px 0px;
  }
  .open-chat__header {
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 410px) {
  .find-icons {
    margin: 0;
  }
  .find-icons__box {
    width: 15%;
  }
}
.recommended-friends__title {
  font-size: 14px;
  color: var(--small-title-color);
}
.recommended-friends span {
  font-size: 18px;
  display: block;
  color: var(--small-text-color2);
  margin: 100px 0px;
}
.open-chat__header {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  color: var(--small-text-color3);
  margin-bottom: 25px;
}
.open-chat__title {
  color: var(--small-title-color);
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
  font-size: 17px;
}
.open-post__hashtags {
  text-transform: uppercase;
  color: var(--small-text-color2);
}
.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__members-count {
  font-size: 14px;
  color: var(--small-text-color2);
}
.open-post__members .divider {
  width: 1.3px;
  height: 13px;
  background-color: var(--small-text-color3);
  margin: 0 5px;
}
.open-post__members-status {
  color: #ffb0c0;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 100px;
  border-radius: 8px;
}
.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 4px 8px;
  font-size: 13px;
}
.open-post__heart-count i {
  margin-right: 4px;
}
