.find-icons {
  display: flex;
  justify-content: space-between;
}
.find-icons__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 12px;
}
.find-icons__box i {
  font-size: 35px;
}
.find-icons__box span {
  margin-top: 18px;
}
.recommended-friends {
  padding: 25px 0px;
  margin: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommended-friends__title {
  font-size: 14px;
  color: var(--small-title-color);
}
.recommended-friends span {
  font-size: 18px;
  display: block;
  color: var(--small-text-color2);
  margin: 100px 0px;
}
