.account-screen-header,
.account-screen-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.account-screen-main {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 98px 0px 0px 0px;
  margin: 0px 130px 40px 130px;
}

.account-screen__title {
  font-size: 30px;
  font-weight: 600;
  margin: 40px 0px;
}
.account-screen__text1 {
  font-size: 25px;
  margin-bottom: 30px;
}
.account-screen__text2 {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  margin-bottom: 15px;
}
.account-screen__text3 {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 25px;
}
.account-screen__img {
  width: 400px;
}
.account-screen__btn {
  text-align: center;
  cursor: pointer;
  width: 400px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  padding: 15px 0px;
  background-color: var(--yellow);
  margin: 50px 0px;
  transition: all 0.5s ease-in-out;
  border-bottom: 0px solid var(--yellow);
}
.account-screen__btn:hover {
  background-color: silver;
  width: 500px;
}
.account-screen__btn:focus {
  background-color: silver;
  color: silver;
  width: 0px;
}
@media screen and (max-width: 770px) {
  .account-screen-main {
    border: none;
    padding: 98px 0px 0px 0px;
    margin: 0;
  }
  .account-screen__btn:hover {
    background-color: silver;
    border-bottom: 100px solid silver;
    width: 400px;
  }
  .account-screen__btn:focus {
    background-color: silver;
    color: silver;
    width: 0px;
  }
}
@media screen and (max-width: 450px) {
  .account-screen__btn:hover {
    background-color: silver;
    border-bottom: 30px solid silver;
    width: 300px;
  }
  .account-screen__btn:focus {
    background-color: silver;
    color: silver;
    width: 0px;
  }
  .account-screen__btn {
    width: 300px;
  }
}
