#friends-display-link {
  font-size: 18px;
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}
.friends-screen {
  padding: 10px var(--horizontal-space);
}
.friends-screen i {
  color: var(--icon-color);
}

.friends-screen__channel-header {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: var(--small-title-color);
}
.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__friend {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}
.friends-screen__title-column {
  display: flex;
  font-size: 14px;
}
.friends-screen__title-column span {
  margin-left: 10px;
}
.friends-screen__friend-header {
  display: flex;
  justify-content: space-between;
  color: var(--small-title-color);
  margin-bottom: 30px;
}
.friends-screen__friend-header--margin25px {
  margin-bottom: 25px;
}
.add-friend-form input {
  width: 90px;
  text-align: center;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  transition: all 0.5s ease-in-out;
}
.add-friend-form input::placeholder {
  color: var(--small-text-color2);
}
.add-friend-form input:focus {
  width: 200px;
  text-align: center;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
}
