.more-screen .user-component__1-circle {
  border: 2px solid rgb(255, 91, 73, 0.8);
  width: 12px;
  height: 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 50%;
  color: rgb(255, 91, 73, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
}
.more-screen .user-component:hover {
  background-color: white;
}
.more-screen .user-component {
  margin-bottom: 35px;
}
.more-screen__icons {
  margin-bottom: 50px;
}
.more-screen .icon-row:first-child {
  margin-bottom: 40px;
}
.more-suggestion {
  border-top: var(--main-border);
  padding-top: 40px;
}
.more-suggestion__title {
  font-size: 14px;
  color: var(--small-title-color);
  margin-bottom: 30px;
}
.more-suggestion__icons {
  display: flex;
  margin: 0 5px;
}
.more-suggestion__icon {
  margin-right: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-suggestion__icon-image {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: var(--yellow);
}
.more-suggestion__icon-image i {
  font-size: 32px;
  color: white;
}
