.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings__setting i {
  font-size: 22px;
}
.settings__setting:nth-child(3) {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.settings__setting-column:last-child {
  color: var(--small-text-color2);
}
.settings-list:nth-child(3) .settings__setting:last-child {
  border: none;
}
.settings__setting-column {
  display: flex;
  align-items: center;
}

.range-box {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
