.alt-header {
  padding: var(--horizontal-space);
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}
.alt-header__column:nth-child(2) {
  text-align: center;
  width: 60%;
}
.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}
.alt-header__column:last-child i {
  cursor: pointer;
}
.alt-header__column {
  width: 20%;
}
.alt-header__column:last-child span {
  font-size: 26px;
  margin-left: 25px;
}
