.badge {
  background-color: tomato;
  height: 21px;
  padding: 0px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  color: white;
  font-weight: 600;
  font-size: 13px;
}
.badge--sm {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
