.icon-row {
  display: flex;
  justify-content: space-between;
  margin: 0px 3px;
}
.icon-row__box {
  text-align: center;
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.icon-row__box:hover {
  transform: scale(1.2);
  color: #b63e40;
}
.icon-row__box i {
  font-size: 35px;
}
.icon-row__box span {
  margin-top: 18px;
}
