.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  transform: translateY(50px);
  opacity: 0;
  animation: appearNavBarAnimation 0.3s ease-in-out forwards;
}
.nav__ul {
  display: flex;
  justify-content: space-between;
}
.nav__li {
  position: relative;
  opacity: 0;
  transition: color 0.3s ease-in-out;
}
.nav__li:hover {
  color: rgba(46, 54, 62, 0.5);
}
.nav__a i {
  position: relative;
  font-size: 25px;
}
.nav__li:first-child {
  animation: appearBtnAnimation 1s ease-in-out forwards;
}
.nav__li:nth-child(2) {
  top: -10px;
  left: -30%;
  animation: chatsIconAnimation 1s ease-in-out forwards;
}
.nav__li:nth-child(3) {
  opacity: 1;
  transform: translateX(1300%);
  animation: findIconAnimation 1s ease-in-out forwards;
}
.nav__li:last-child {
  animation: moreIconAnimation 0.7s ease-in-out forwards;
  animation-delay: 0.3s;
}
@keyframes moreIconAnimation {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transfrom: scale(1);
    opacity: 1;
  }
}
@keyframes findIconAnimation {
  0% {
    transform: translateX(1300%) rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes chatsIconAnimation {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
}
@keyframes chatsIconAnimation {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
}
@keyframes appearBtnAnimation {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearNavBarAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-4px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}
.nav__chat__notification {
  opacity: 0;
  position: absolute;
  left: 15px;
  bottom: 15px;
  animation: notificationAnimation 2s ease-in-out infinite,
    appearBtnAnimation 1s ease-in-out forwards;
  animation-delay: 1s;
}
.nav__ellipsis__notification {
  opacity: 0;
  animation: appearBtnAnimation 0.3s ease-in-out forwards;
  animation-delay: 1s;
  position: absolute;
  right: -4px;
  top: -4px;
}
