.status-bar {
  display: flex;
  justify-content: center;
  padding: 5px 3px;
}
.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}
.status-bar__column .fa-battery-empty {
  margin: 0px 5px;
}

.battery-overflow {
  z-index: 1;
  padding: 3px;
  height: 47px;
  width: 86px;
  border-radius: 8px;
  border-top-right-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  font-size: 14px;
  text-align: start;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  right: 30px;
  top: 17px;
  background-color: tomato;
}
.battery-overflow i {
  position: absolute;
  top: 0px;
  right: 3px;
}
.battery-overflow:focus i {
  visibility: hidden;
}

.battery-overflow:focus {
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 0;
  height: 0;
  outline: none;
}

.no-wifi {
  position: relative;
}
.no-wifi .status-bar__bar {
  width: 2.5px;
  height: 22px;
  border-radius: 4px;
  background-color: #2e363e;
  border: 1px solid #abc1d1;
  position: absolute;
  right: 7px;
  top: -4px;
  transition: all 4s ease-in-out;
  animation: bar-dance 5s ease-in-out infinite;
}
@keyframes bar-dance {
  0% {
    transform: rotateZ(-45deg);
    border: 1px solid #abc1d1;
    opacity: 1;
  }
  25% {
    border: 2px solid #abc1d1;
    opacity: 0.5;
  }
  50% {
    transform: rotateZ(45deg);
    border: 1px solid #abc1d1;
    opacity: 1;
  }
  75% {
    border: 2px solid #abc1d1;
    opacity: 0.5;
  }
  100% {
    transform: rotateZ(-45deg);
    border: 1px solid #abc1d1;
    opacity: 1;
  }
}
.no-wifi:hover .status-bar__bar {
  animation: bar-Dance 0.4s linear infinite;
}
@keyframes bar-Dance {
  from {
    transform: rotateZ(360deg) rotateY(360deg) rotateX(360deg);
  }
  to {
    transform: none;
  }
}

.check-wifi {
  background-color: #ca9da8;
  z-index: 2;
  position: absolute;
  top: 22px;
  left: 10px;
  display: flex;
  padding: 5px 8px;
  border-radius: 10px;
  border-top-left-radius: 0;
}
.check-wifi > i {
  cursor: pointer;
  margin-left: 2px;
}
.check-wifi > span {
  width: 91px;
}
